$color-white: #ffffff;
$color-black: #000000;
$color-orange: #f24d23;
$color-lighter-black: #dbdbdb;
$color-yellow: #f7ca18;
$color-blue: #007bff;

$color-primary: #003d4f;
$color-secondary: $color-blue;

$color-warning: $color-yellow;
$color-info: $color-lighter-black;
$color-danger: $color-orange;
$color-success: $color-primary;

/*Features*/
$color-sidebar: $color-primary;
