.file-tree-wrapper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 15px;
}
.file-tree-wrapper > ul {
  margin-left: 20px;
}
.file-tree-wrapper .file-list, .file-tree-wrapper .file-list ul {
  list-style-type: none;
  font-size: 1em;
  line-height: 1.8em;
  margin-left: 10px;
  padding-left: 8px;
  border-left: 1px dotted var(--gray-dark);
}
.file-tree-wrapper .file-list li {
  position: relative;
  padding-left: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.file-tree-wrapper .file-list li a {
  text-decoration: none;
}
.file-tree-wrapper .file-list li a.category-name:before {
  display: block;
  content: " ";
  width: 14px;
  height: 1px;
  position: absolute;
  border-bottom: 1px dotted var(--gray-dark);
  top: 13px;
  left: -6px;
}
.file-tree-wrapper .file-list li a.category-name.active {
  font-weight: 700;
}
.file-tree-wrapper .file-list li a.category-name.active ~ .deleteDialog {
  display: inline-block;
  line-height: 1;
}
.file-tree-wrapper .file-list .folder-root {
  list-style-type: none;
}
.file-tree-wrapper .file-list .folder-root a {
  text-decoration: none;
}
.file-tree-wrapper li.folder-root ul {
  transition: all 0.3s ease-in-out;
}
.file-tree-wrapper li.folder-root.closed ~ ul, .file-tree-wrapper li.folder-root.closed > ul {
  opacity: 0;
  max-height: 0;
}
.file-tree-wrapper li.folder-root.open ~ ul, .file-tree-wrapper li.folder-root.open > ul {
  opacity: 1;
  display: block;
}
.file-tree-wrapper .file-opener-i {
  position: absolute;
  left: -22px;
  top: 4px;
  z-index: 1;
  background: var(--white);
  margin: 2px;
  cursor: pointer;
  font-size: 1.2em;
}
.file-tree-wrapper .file-tree li, .file-tree-wrapper .file-tree a {
  white-space: nowrap;
}
.file-tree-wrapper .file-tree li, .file-tree-wrapper .file-tree a {
  white-space: nowrap;
}
.file-tree-wrapper .file-list .deleteDialog {
  padding: 2px;
  display: none;
}

.tree-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1005;
}

.tree-form-body .widget {
  border: 1px solid #ced4da;
}
