@charset "UTF-8";
.main-form .handle-tool-drag {
  background: #f7f7f7;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: row-resize;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  line-height: 14px;
}
.main-form .handle-tool-drag:before {
  content: "≡";
  color: #999999;
  position: absolute;
  left: 50%;
  font-size: 20px;
}
.main-form .handle-tool-drag:hover {
  background: #f0f0f0;
}
.main-form .handle-tool-drag:hover:before {
  color: #000000;
}
.main-form .CodeMirror {
  background: #f8f8f8;
}
.main-form .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  padding: 5px;
  font-size: 0.9em;
  cursor: help;
}
.main-form .help-block * {
  color: #31708f;
}
