.table {
  margin-bottom: 0;
}
.table.table-bordered thead > tr > th {
  border-bottom: 0;
}
.table.table-hover > tbody > tr:hover, .table.table-hover > tbody > tr:hover > td {
  background: #f3f4f6 !important;
}
.table .btn {
  margin-top: 0;
  margin-left: 0;
  margin-right: 5px;
}
.table td .img-responsive {
  width: 100%;
}
.table th {
  color: #afafaf;
  border-bottom: none !important;
  text-align: left;
  padding-left: 18px;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
}
.table th.no-sort {
  padding-right: 0 !important;
}
.table th.no-sort:before, .table th.no-sort:after {
  display: none !important;
}
.table th:hover {
  color: #333333;
}
.table .text-start {
  text-align: left;
}
.table .text-center {
  text-align: center;
}
.table td {
  padding: 5px 12px !important;
}
.table td .text-start {
  display: block;
  float: left !important;
}

.tableFloatingHeaderOriginal {
  left: 0 !important;
  top: 0;
}

.table-wrapper .portlet.portlet-no-padding {
  padding: 0;
}
.table-wrapper .portlet.portlet-no-padding .portlet-title {
  min-height: 55px;
  margin-bottom: 0;
  padding-left: 11px;
}
.table-wrapper .portlet.portlet-no-padding .portlet-body {
  padding-top: 0;
}

table.dataTable {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 100% !important;
}

.datatable-header {
  background: #ebeae8;
  height: 46px;
}

.datatable-footer {
  padding: 5px;
}

.dataTables_filter {
  padding: 0;
}

.table-has-actions .dataTables_filter, .table-has-filter .dataTables_filter {
  left: 125px;
}

.table-has-actions.table-has-filter .dataTables_filter {
  left: 250px;
}

.dataTables_wrapper .wrapping {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.dataTables_wrapper .disabled-wrap {
  white-space: nowrap !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: block;
  float: left;
  padding: 0;
  margin-right: 2px;
}
.dataTables_wrapper .scroller {
  max-height: 500px;
}
.dataTables_wrapper .mCustomScrollBox {
  width: 100% !important;
}
.dataTables_wrapper thead {
  overflow: hidden;
  padding-left: 4px;
  width: 100% !important;
}
.dataTables_wrapper thead.tableFloatingHeader .table-check-all {
  left: -15px;
}
.dataTables_wrapper thead .table-check-all {
  margin-left: 5px;
}
.dataTables_wrapper thead > tr > th {
  background-color: #fbfcfd;
  text-align: center;
}
.dataTables_wrapper thead th img {
  margin-right: 10px;
}
.dataTables_wrapper td, .dataTables_wrapper th {
  vertical-align: middle !important;
  text-align: center;
}
.dataTables_wrapper .text-start {
  text-align: left;
}
.dataTables_wrapper .table-checkbox {
  margin: 0;
}
.dataTables_wrapper .text-center {
  text-align: center;
}
.dataTables_wrapper td .btn {
  font-size: 12px;
  margin: 0 0 5px;
}
.dataTables_wrapper td .table-actions {
  min-width: 155px;
  text-align: center;
}

.page-content .dataTables_wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}
.page-content .dataTables_wrapper .datatables__info_wrap {
  background-color: #fbfcfd;
  width: 100%;
}
.page-content .dataTables_wrapper .dt-buttons {
  margin-right: 10px;
  top: -46px;
  right: 0;
  position: absolute;
}
.page-content .dataTables_wrapper .dt-buttons .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  background: #36c6d3;
  border-color: #36c6d3;
  color: #ffffff !important;
}
.page-content .dataTables_wrapper .dt-buttons .btn:active, .page-content .dataTables_wrapper .dt-buttons .btn:active:focus, .page-content .dataTables_wrapper .dt-buttons .btn:focus, .page-content .dataTables_wrapper .dt-buttons .btn:hover {
  background: #1dc3d2;
  border-color: #1dc3d2;
}
.page-content .dataTables_wrapper .dt-buttons .btn:last-child {
  margin-right: 0;
}
.page-content .dataTables_wrapper .text-start {
  text-align: left;
}
.page-content .dataTables_wrapper .text-center {
  text-align: center;
}
.page-content .dataTables_wrapper th, .page-content .dataTables_wrapper td {
  outline: none !important;
}
.page-content .dataTables_wrapper th .checker {
  margin-left: 4px;
}
.page-content .dataTables_wrapper .btn {
  margin: 0 10px 10px 0;
}
.page-content .dataTables_wrapper .dataTables_paginate {
  float: right;
}
.page-content .dataTables_wrapper .dataTables_paginate .pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 0 !important;
  margin: 11px 10px 0 0;
}
.page-content .dataTables_wrapper .dataTables_paginate .pagination li a {
  background-color: #f1f1f1;
  color: #777777 !important;
  border-radius: 0 !important;
  margin-left: 3px;
  transition: 0.3s;
  padding: 2px 5px;
  min-width: 24px;
  width: auto;
  height: auto;
  text-decoration: none !important;
}
.page-content .dataTables_wrapper .dataTables_paginate .pagination li a:hover {
  background: #e3e3e3;
}
.page-content .dataTables_wrapper .dataTables_paginate .pagination li:hover {
  background: transparent !important;
}
.page-content .dataTables_wrapper .dataTables_paginate .pagination li.active a {
  background-color: #36c6d3 !important;
  color: #ffffff !important;
}
.page-content .dataTables_wrapper .dataTables_length {
  float: left;
  padding: 0;
  max-height: 45px;
}
.page-content .dataTables_wrapper .dataTables_length label {
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  margin: 0 !important;
}
.page-content .dataTables_wrapper .dataTables_length .dt-length-style {
  padding: 4px 8px 4px 10px !important;
  display: inline-block !important;
  color: #1f64a0 !important;
}
.page-content .dataTables_wrapper .dataTables_length .dt-length-style .select2-selection {
  border: 1px solid #d2d6de;
  border-radius: 0;
  padding: 4px 10px;
  height: 28px;
}
.page-content .dataTables_wrapper .dataTables_length .dt-length-style .select2-selection .select2-selection__arrow {
  height: 21px;
  top: 3px;
}
.page-content .dataTables_wrapper .dataTables_info {
  margin-left: 10px;
  padding-top: 0;
  line-height: 40px;
  white-space: nowrap;
  display: inline-block;
  color: #d9534f;
}
.page-content .dataTables_wrapper .dataTables_info .dt-length-records {
  padding: 2px 3px 3px 0 !important;
  display: inline-block !important;
  color: #1f64a0 !important;
}
.page-content .dataTables_wrapper .dataTables_processing {
  width: 40px;
  height: 40px;
  padding: 0;
  text-indent: -9999px;
  background: url("/vendor/core/core/base/images/table-loading.gif") no-repeat;
  background-size: contain;
  border: none;
}
.page-content .dataTables_wrapper .dataTables_empty {
  height: 76px;
}

.datatable-footer .paginate_button.next a {
  width: 25px;
  height: 24px;
  background-image: url("/vendor/core/core/base/images/img.png");
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-position: -54px -203px;
  margin-right: 10px !important;
  background-color: #e3e3e3 !important;
}
.datatable-footer .paginate_button.previous a {
  width: 25px;
  height: 24px;
  background-image: url("/vendor/core/core/base/images/img.png");
  background-position: -10px -203px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-right: -18px;
  background-color: #e3e3e3 !important;
}
.datatable-footer .paginate_button i {
  display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0;
  line-height: 22px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button a:hover {
  opacity: 1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.active a {
  margin-left: 22px;
}
.dataTables_wrapper tfoot th {
  text-transform: none;
}

div.dataTables_info {
  color: #afafaf;
}

.dataTables_filter {
  padding: 0;
  display: block;
  float: left;
  position: absolute;
  top: -50px;
  left: 10px;
}
.dataTables_filter input[type=search] {
  margin-top: 3px;
  height: 36px;
  width: 250px;
  padding-right: 30px;
}
.dataTables_filter label {
  font-size: 0;
}
.dataTables_filter label::after {
  font: normal normal normal 14px/1 Font Awesome\ 5 Free;
  content: "\f002";
  position: absolute;
  right: -4px;
  top: 6px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #495057;
  font-weight: 900;
}
.dataTables_filter label input {
  margin: 0;
}

.dataTables_wrapper td, .dataTables_wrapper th {
  vertical-align: middle !important;
  text-align: center;
}

.page-content .table-wrapper .table-responsive {
  overflow-x: inherit;
}
.page-content .table-wrapper .table-responsive .dataTables_processing {
  margin-left: 0;
}
.page-content .table-wrapper .table-responsive .dataTable.collapsed .table-check-all {
  margin-left: 25px;
}
.page-content .table-wrapper .table-responsive .dataTable.collapsed .dtr-control {
  padding-left: 35px !important;
}

@media screen and (max-width: 1100px) {
  .page-content .table-wrapper .table-responsive .dataTables_wrapper .dtr-details {
    width: 100%;
  }
  .page-content .table-wrapper .table-responsive .dataTables_wrapper .dt-buttons {
    margin: 10px 10px 0;
    position: static;
  }
  .page-content .table-wrapper .table-responsive .dataTables_wrapper .dataTables_filter {
    right: 10px;
    left: auto;
    float: none;
  }
  .page-content .table-wrapper .table-responsive .dataTables_wrapper .dataTables_filter input {
    max-width: 135px;
  }
}
.dataTables_wrapper .table-bordered > tbody > tr > td, .dataTables_wrapper .table-bordered > tbody > tr > th, .dataTables_wrapper .table-bordered > tfoot > tr > td, .dataTables_wrapper .table-bordered > tfoot > tr > th, .dataTables_wrapper .table-bordered > thead > tr > td, .dataTables_wrapper .table-bordered > thead > tr > th {
  border: 1px solid #f4f4f4;
}
.dataTables_wrapper .form-control:focus {
  border-color: #93a1bb;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 161, 187, 0.6);
}
.dataTables_wrapper select.form-control {
  padding-right: 1.5em;
  line-height: 17px;
}

.dropdown-hover a {
  position: relative;
  display: block;
  padding: 8px 16px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #6f6e6e;
  white-space: nowrap;
}
.dropdown-hover a > i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown-hover a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-hover .dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 0 !important;
}
.dropdown-hover .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-hover .dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.table-wrapper .portlet.portlet-no-padding {
  overflow: inherit;
}
.table-wrapper .wrapper-filter .btn-add-filter {
  display: block;
  max-width: 200px;
  margin-top: 10px;
}
.table-wrapper .wrapper-filter .btn-apply {
  display: inline-block;
  vertical-align: top;
}
.table-wrapper .wrapper-filter .form-filter {
  margin-bottom: 10px;
}
.table-wrapper .wrapper-filter .form-filter > input,
.table-wrapper .wrapper-filter .form-filter .ui-select-wrapper,
.table-wrapper .wrapper-filter .form-filter .ui-select-wrapper + span {
  display: inline-block;
  width: 190px !important;
  vertical-align: middle;
  margin-right: 10px;
}
.table-wrapper .wrapper-filter .form-filter a {
  display: inline-block;
  vertical-align: middle;
}
.table-wrapper .wrapper-filter .form-filter .filter-item {
  max-width: 645px;
  margin-bottom: 0;
  background: #eee;
  padding: 10px;
}
.table-wrapper .wrapper-filter .form-filter .filter-column-value-wrap {
  display: inline-block;
  width: 190px !important;
  vertical-align: middle;
  margin-right: 10px;
}
.table-wrapper .wrapper-filter .form-filter .filter-column-value-wrap .input-group {
  z-index: 2;
}
.table-wrapper .wrapper-filter .form-filter .btn-reset-filter-item, .table-wrapper .wrapper-filter .form-filter .btn-remove-filter-item {
  cursor: pointer;
}
.table-wrapper .table-configuration-wrap {
  margin-bottom: 30px;
  display: none;
  background: #fff;
  padding: 15px;
  position: relative;
}
.table-wrapper .table-configuration-wrap .configuration-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50% !important;
  display: inline-block;
  background: #ddd;
  text-align: center;
  vertical-align: middle;
  line-height: 31px;
  cursor: pointer;
}
.table-wrapper .table-configuration-wrap .configuration-close-btn:hover {
  background: #eee;
  color: #000;
}
.table-wrapper .action-item a {
  background: none;
  border: none;
  color: #fff !important;
  text-decoration: none !important;
}

.table-striped > thead > tr > th, .table-striped > tbody > tr > th, .table-striped > tfoot > tr > th, .table-striped > thead > tr > td, .table-striped > tbody > tr > td, .table-striped > tfoot > tr > td {
  border: none;
}

@media screen and (max-width: 768px) {
  .form-filter > input,
.form-filter .ui-select-wrapper,
.form-filter .ui-select-wrapper + span,
.form-filter a {
    width: 27% !important;
    max-width: none;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .form-filter > input,
.form-filter .ui-select-wrapper,
.form-filter .ui-select-wrapper + span,
.form-filter a {
    width: 100% !important;
  }
}
