body {
    background-color: #fff;
    color: #222;
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

.container {
    margin: 30px;
    max-width: 600px;
}

h1 {
    color: #dc3545;
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

.error-code {
    color: #22292f;
    font-size: 3rem;
}

.error-border {
    background-color: var(--color-1st);
    height: .25rem;
    width: 6rem;
    margin-bottom: 1.5rem;
}

.error-page {
    a {
        color: var(--color-1st);
    }

    ul {
        li {
            margin-bottom: 5px;
        }

    }
}
